.button {
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    max-width: 450px;
    width: 100%;
    background: linear-gradient(to right, #4567b7, #6495ed);
    color: #fff;

    &:hover {
        background: linear-gradient(to right, #547ddb, #547cc7);
    }
    &:active {
        background: linear-gradient(to right, #375292, #567fca);
    }
    &.danger {
        background-color: #ff0000;
        color: #ffffff;
    }
    &.cancel {
        background-color: #ffffff;
        color: #000000;
    }
}
