.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button {
        padding: 16px 0;
        margin: 0 24px;
        border: none;
        border-radius: 8px;
        max-width: 450px;
        width: 100%;
        background: linear-gradient(to right, #0796d3, #53c0f0);
        color: #fff;

        &:hover {
            background: linear-gradient(to right, #547ddb, #547cc7);
        }
        &:active {
            background: linear-gradient(to right, #375292, #567fca);
        }
    }

    @media (max-width: 768px) {
        .main {
            display: flex;
            max-width: 270px;
            width: 100%;
        }
        .button {
            margin: 0 24px;
        }
    }
}
